.menu-expand__btn {
  padding: 0.7rem 15px;
  font-size: 1.5rem;
  color: white;
  background-color: #16a651;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.menu-expand__btn:hover {
  background-color: #555;
}

.menu-expand__btn:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.menu-expand__btn.active:after {
  content: "\2212";
}

.menu-section__item-group {
  padding: 0 18px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.menu-section__item-group.inactive {
  max-height: 0;
}