html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background: rgb(233, 233, 233);
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: Roboto;
  text-align: center;
}

.app {
  width: 100vw;
  height: 100vh;
}

.app__header {
  height: 2.5rem;
  width: 100%;
  background-color: transparent;
  padding: 0.8rem;
  box-sizing: border-box;
  color: black;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 10;
  position: fixed;
}

.app__menu-btn {
  font-size: 1.75rem;
  cursor: pointer;
}

.app__nav {
  display: flex;
  gap: 1rem;
}

#pano {
  width:100%;
  height:100%;
}